<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="shortcut icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="<%= BASE_URL %>favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="<%= BASE_URL %>favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="<%= BASE_URL %>favicon-192.png">
    <link rel="icon" type="image/png" sizes="196x196" href="<%= BASE_URL %>favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="<%= BASE_URL %>favicon-160.png">
    <link rel="icon" type="image/png" sizes="160x160" href="<%= BASE_URL %>favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= BASE_URL %>favicon-96.png">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= BASE_URL %>favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="<%= BASE_URL %>favicon-64.png">
    <link rel="icon" type="image/png" sizes="64x64" href="<%= BASE_URL %>favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>favicon-32.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>favicon-16.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>favicon-16.png">
    <link rel="apple-touch-icon" href="<%= BASE_URL %>favicon-57.png">
    <link rel="apple-touch-icon" href="<%= BASE_URL %>favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= BASE_URL %>favicon-114.png">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= BASE_URL %>favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= BASE_URL %>favicon-72.png">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= BASE_URL %>favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= BASE_URL %>favicon-144.png">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= BASE_URL %>favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= BASE_URL %>favicon-60.png">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= BASE_URL %>favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= BASE_URL %>favicon-120.png">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= BASE_URL %>favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= BASE_URL %>favicon-76.png">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= BASE_URL %>favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= BASE_URL %>favicon-152.png">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= BASE_URL %>favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>favicon-180.png">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>favicon-180.png">

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap"
      rel="stylesheet"
    />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
