<template>
  <div
    v-bind:id="UniqueModal"
    ref="userAnswersModal"
    class="modal black-text left-align"
  >
    <div v-if="selectedInterviewer._id" class="modal-content">
      <h4 class="center">
        {{ selectedInterviewer.lastname + " " + selectedInterviewer.firstname }}
      </h4>
      <div v-for="(question, questionNo) in questions" :key="question._id">
        <p>
          {{ question.No + ". " + question.text }}
        </p>
        <div class="chips">
          <div
            class="chip design"
            v-for="answer in question.answers"
            :key="answer._id"
            :class="{
              rightAnswerColor:
                answer.id === rightAnswers[questionNo].rightAnswer,
              rightAndSelectedAnswerColor:
                answer.id === rightAnswers[questionNo].rightAnswer &&
                answer.id ===
                  selectedInterviewer.answers[questionNo].selectedAnswer,
            }"
          >
            <i
              v-if="isSelectedAnswer(answer, questionNo)"
              class="material-icons"
            >
              radio_button_checked
            </i>
            <i v-else class="material-icons">radio_button_unchecked</i>
            {{ answer.text }}
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn-flat">Окей</a>
    </div>
  </div>
</template>

<script>
import $api from "@/api";

export default {
  name: "DetailsModal",
  props: {
    UniqueModal: String,
    selectedInterviewer: Object,
  },
  data() {
    return {
      rightAnswers: [],
      questions: [],
    };
  },
  methods: {
    isSelectedAnswer: function (answer, questionNo) {
      if (!this.selectedInterviewer.answers) return false;
      const selectedAnswer =
        this.selectedInterviewer.answers[questionNo].selectedAnswer;
      return answer.id === selectedAnswer;
    },
  },
  async mounted() {
    const response1 = await $api({
      url: "/rightAnswers",
      method: "GET",
    });
    this.rightAnswers = response1.data;

    const response2 = await $api({
      url: "/test",
      method: "GET",
    });
    this.questions = response2.data;
  },
};
</script>

<style lang="scss" scoped>
@import "~materialize-css/sass/materialize.scss";
a {
  padding: 0.6rem;
  margin-left: 0.5rem !important;
  color: black;
  font-size: large;
}
.design {
  font-weight: bold;
  font-size: medium;
  border-radius: 0.3rem;
  height: inherit;
}

p {
  font-size: 1.4rem;
}
* {
  font-weight: bold;
}
.modal {
  border-radius: 1rem !important;
}
.rightAnswerColor {
  border: 2px solid #0cd478;
}
.rightAndSelectedAnswerColor {
  background-color: #0cd478;
}
@media #{$small-and-down} {
  p {
    font-size: smaller;
  }
  .design {
    font-size: smaller;
    height: auto;
    line-height: inherit;
  }
  i {
    font-size: smaller;
  }
}
</style>
