<template>
  <div class="content">
    <div class="content__container">
      <p class="content__container__text">Спасибо,</p>

      <ul class="content__container__list">
        <li class="content__container__list__item">
          {{ user && user.firstname }} !
        </li>
        <li class="content__container__list__item">кандидат !</li>
        <li class="content__container__list__item">сотрудник !</li>
        <li class="content__container__list__item">коллега !</li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "Final",
  inject: ["user"],
  data() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
@import "~materialize-css/sass/materialize.scss";

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 160px;
  overflow: hidden;

  font-family: "Lato", sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #000000;

  &__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;

    &:before {
      content: "[";
      left: 0;
    }

    &:after {
      content: "]";
      position: absolute;
      right: 0;
    }

    &:after,
    &:before {
      position: absolute;
      top: 0;

      color: #1a60f7;
      font-size: 42px;
      line-height: 40px;

      animation-name: opacity;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }

    &__text {
      display: inline;
      float: left;
      margin: 0;
    }

    &__list {
      &:not(.browser-default) {
        padding-left: 180px;
      }
      margin-top: 0;
      padding-left: 180px;
      text-align: left;
      list-style: none;

      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite;

      &__item {
        overflow: hidden;
        white-space: nowrap;
        line-height: 40px;
        margin: 0;
      }
    }
  }
}

@media #{$small-and-down} {
  .content {
    font-size: 20px !important;
    .content__container__list {
      padding-left: 105px;
    }
  }
}

@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
</style>
