<template>
  <div class="card card-back large">
    <div class="card-content center-align container valign">
      <div v-if="!isAdmin">
        <h5>Перед вами онлайн-тест для оценки логики.</h5>
        <h5>Необходимо ответить на все вопросы.</h5>
        <h5>Тест не для слабонервных!</h5>
        <h5>Отнеситесь с долей юмора</h5>
      </div>
      <h5 v-if="isAdmin">
        Для просмотра результатов теста, <br />введите логин и пароль
        Администратора
      </h5>

      <form v-if="isAdmin" class="row" @submit.prevent="SignIn()">
        <div class="input-field col s12">
          <input
            id="login"
            v-model="admin.login"
            type="text"
            class="validate"
            required
          />
          <label for="login" class="white-text large"> Логин </label>
        </div>
        <div class="input-field col s12">
          <input
            id="password"
            type="password"
            v-model="admin.password"
            class="validate"
            required
          />
          <label for="password" class="white-text large"> Пароль </label>
        </div>
        <div class="center-align">
          <button
            class="btn-large button-start center-align"
            type="submit"
            name="action"
          >
            ВОЙТИ
          </button>
        </div>
      </form>

      <!--      форма для обывателя-->
      <form v-else class="row" @submit.prevent="Start()">
        <div class="input-field col s12">
          <input
            id="last_name"
            pattern="[А-ЯЁа-яё]+"
            v-model="user.lastname"
            type="text"
            class="validate"
            required
          />
          <label for="last_name" class="white-text large"> Фамилия </label>
        </div>
        <div class="input-field col s12">
          <input
            id="first_name"
            type="text"
            pattern="[А-ЯЁа-яё]+"
            v-model="user.firstname"
            class="validate"
            required
          />
          <label for="first_name" class="white-text large"> Имя </label>
        </div>
        <div class="center-align">
          <button
            class="btn-large button-start center-align"
            type="submit"
            name="action"
          >
            НАЧАТЬ
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import router from "@/router";
import auth from "@/auth";
export default {
  name: "Greeting",
  props: {
    isAdmin: Boolean,
  },
  data() {
    return {
      admin: {
        login: "",
        password: "",
      },
      user: {
        lastname: "",
        firstname: "",
      },
    };
  },
  methods: {
    Start() {
      this.$root.$emit("updateUser", this.user);
      router.push({ path: "/test" });
    },
    async SignIn() {
      await auth.doAuth({
        admin: this.admin,
      });
      router.push({ path: "admin/panel" });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~materialize-css/sass/materialize.scss";
@import "~@/assets/mycolors.scss";

$greenbtn: #29b780;
div.card-back {
  background-color: rgba(26, 96, 247, 0.83);
  background-size: 100%;
  box-shadow: 0 5px 30px 3px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
}
.button-start {
  background-color: $greenbtn;
  width: 15rem;
  box-shadow: 1px 1px 10px 5px #0cd478;
  border-radius: 1rem;
  border: 1px solid #4cbb7e;
  letter-spacing: 2.5px;
  transition: 0.12s;
  margin-top: 3%;
  &:active {
    transform: scale(0.8);
  }
  &:hover {
    background-color: $greenbtn;
    box-shadow: none;
  }
  &:focus {
    background-color: $greenbtn;
  }
}
@media #{$small-and-down} {
  h5 {
    font-size: 1.2rem !important;
  }
  button {
    margin-top: 13% !important;
  }
}
@media #{$medium-only} {
  h5 {
    font-size: 1.5rem !important;
  }
  button {
    margin-top: 6% !important;
  }
}
</style>
