<template>
  <div class="card test-back">
    <Stepper
      v-bind:steps-count="stepsCount"
      v-bind:current-step="currentStep"
    />
    <div class="col s12 pad">
      <div class="row">
        <div class="col s2">
          <div class="question-number-label right">{{ actualQuestion.No }}</div>
        </div>
        <div class="col s10 m10 l8">
          <h5 class="black-text">
            {{ actualQuestion.text }}
          </h5>
        </div>
      </div>
      <form class="row" @submit.prevent="isLastQuestion ? finish() : submit()">
        <div
          class="col s12"
          v-for="answer in actualQuestion.answers"
          :key="answer.id"
          :class="{
            l6: actualQuestion.answers.length > 2,
            l12: actualQuestion.answers.length < 3,
            m6: actualQuestion.answers.length > 2,
            m12: actualQuestion.answers.length < 3,
          }"
        >
          <label
            class="answer-choice"
            :class="{ selected: answer.id === selectedAnswer }"
          >
            <input
              type="radio"
              :name="'answer' + actualQuestion.No"
              :value="answer.id"
              :key="actualQuestion.No"
              v-model="selectedAnswer"
              required
            />
            <span class="black-text answer-text">{{ answer.text }}</span>
          </label>
        </div>
        <button type="submit" class="btn-large btn-answer">
          {{ isLastQuestion ? "Отправить ответы" : "Ответить" }}
        </button>
      </form>
    </div>
  </div>
</template>
<script>
import Stepper from "@/components/Stepper";
import router from "@/router";
export default {
  name: "Question",
  components: { Stepper },
  props: {
    actualQuestion: Object,
    isLastQuestion: Boolean,
  },
  data() {
    return {
      selectedAnswer: "",
      answers: [],
    };
  },
  computed: {
    currentStep() {
      return this.actualQuestion.No;
    },
    stepsCount() {
      return 12;
    },
  },
  methods: {
    submit() {
      this.answers.push({
        selectedAnswer: this.selectedAnswer,
        questionId: this.actualQuestion._id,
      });
      this.$emit("answer");
      this.selectedAnswer = "";
    },
    finish() {
      this.answers.push({
        selectedAnswer: this.selectedAnswer,
        questionId: this.actualQuestion._id,
      });
      this.$root.$emit("updateAnswers", this.answers);
      this.$root.$emit("SaveUser");
      router.push({ path: "/final" });
    },
  },
};
</script>
<style lang="scss" scoped>
@import "~materialize-css/sass/materialize.scss";
@import "src/assets/mycolors";
@media #{$large-and-up} {
  form {
    padding: 0 10rem;
  }
}
@media #{$medium-only} {
  form {
    padding: 0 3rem;
  }
}

h1 {
  color: black;
  margin-top: 0;
}
h5 {
  font-weight: bold;
}
* {
  text-align: left;
  font-weight: bold;
}
.test-back {
  background-size: 100%;
  box-shadow: 0 5px 30px 3px rgba(0, 0, 0, 0.4);
  border-radius: 1rem !important;
  height: 100% !important;
  background-color: rgba(241, 241, 241, 0.9);
}
.btn-answer {
  position: absolute;
  right: 0;
  bottom: 0.7rem;
  font-family: "Poiret One";
  background-color: #213f7e !important;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  box-shadow: 0 10px 0 0 rgba(19, 36, 72, 1);
  width: 100%;
  &:hover {
    box-shadow: 0 10px 0 0 rgba(19, 36, 72, 1);
  }
  &:active {
    box-shadow: 0 4px 0 0 rgba(19, 36, 72, 1);
    transform: translateY(6px);
  }
}
.answer-choice {
  cursor: pointer;
  display: block;
  background-color: #d3dcef;
  border-radius: 0.3rem;
  margin: 0 0 1rem 0 !important;
  box-shadow: 0px 0px 0px 0px rgba(39, 114, 236, 0.54);
  transition: 0.5s;
  &:checked {
    border: 1px solid black;
  }
  &.selected {
    box-shadow: 0px 0px 4px 1px rgba(39, 114, 236, 1);
  }
}
span {
  margin: 0px 0 -5px 15px;
}
[type="radio"]:not(:checked) + span.answer-text,
[type="radio"]:checked + span.answer-text {
  font-size: 1.3rem;
  margin: 20px 12px 15px 15px;
  display: inline-table !important;
  &::before {
    border-color: #1a60f7 !important;
  }
}

.question-number-label {
  background-color: #213f7e;
  border-radius: 50%;
  color: white;
  text-align: center;
  width: 10vw;
  height: 10vw;
  max-width: 50px;
  max-height: 50px;
  min-width: 20px;
  min-height: 20px;
  margin-top: 1.2rem;
  font-size: 2rem;
}
.pad {
  padding-bottom: 3rem !important;
}

@media #{$small-and-down} {
  h5 {
    font-size: large;
  }
  [type="radio"]:not(:checked) + span.answer-text,
  [type="radio"]:checked + span.answer-text {
    font-size: medium;
    margin: 10px 5px 10px 15px;
  }
}
</style>
