<template>
  <Question
    v-bind:actual-question="actualQuestion"
    v-bind:is-last-question="questions.length === currentQuestionIndex + 1"
    v-on:answer="next"
  />
</template>

<script>
import Question from "@/components/content/Question";
import $api from "@/api";
export default {
  name: "Questions",
  inject: ["user"],
  data() {
    return {
      questions: [] /*Типа массив объектов вопросов*/,
      currentQuestionIndex: 0,
    };
  },
  beforeRouteLeave(to, from, next) {
    if (to.path === "/final" || (to.path === "/" && !this.user.firstname)) {
      next();
      return;
    }
    const answer = window.confirm(
      "Вы хотите уйти? У вас есть не сохранённые изменения!"
    );
    next(answer);
  },
  computed: {
    actualQuestion() {
      return this.questions[this.currentQuestionIndex] || {};
    },
  },
  methods: {
    next() {
      this.currentQuestionIndex++;
    },
  },
  components: {
    Question,
  },
  created() {
    if (!this.user.firstname) {
      this.$router.push({ path: "/" });
    }
  },
  async mounted() {
    const response = await $api({
      url: "/test",
      method: "GET",
    });
    this.questions = response.data;
  },
};
</script>

<style scoped></style>
