<template>
  <div class="panel indigo lighten-5">
    <table class="highlight black-text indigo lighten-5">
      <thead>
        <tr>
          <th>Дата</th>
          <th>ФИО</th>
          <th>Кол-во правильных/Кол-во общее</th>
          <th>Отчет</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(interviewer, i) in interviewersList"
          :key="interviewer._id"
          v-bind:class="getColor(i)"
        >
          <td>{{ formattedDate(interviewer.createdAt) }}</td>
          <td>
            {{ interviewer.lastname + " " + interviewer.firstname }}
          </td>
          <td>
            {{ SumInterviewersRightAnswers(interviewer.answers) }}
            /
            {{ rightAnswers.length }}
          </td>
          <td>
            <button
              class="btn modal-trigger"
              @click="openModal(interviewer)"
              v-bind:data-target="'modal_' + interviewer._id"
            >
              <i class="material-icons">more</i>
            </button>

            <!--            info_outline more open_in_browser zoom_out_map-->
          </td>
        </tr>
        <tr>
          <td>1.01.2021</td>
          <td>fujhj</td>
          <td>5/12</td>
          <td>
            <a class="modal-trigger" href="#modal1" v-on:click.prevent="info()">
              <i class="material-icons">more</i></a
            >
            <!--            info_outline more open_in_browser zoom_out_map-->
          </td>
        </tr>
      </tbody>
    </table>
    <Modal
      v-bind:unique-modal="'modal_' + selectedInterviewer._id"
      v-bind:selected-interviewer="selectedInterviewer"
    />
  </div>
</template>

<script>
import M from "materialize-css";
import Modal from "@/components/content/DetailsModal";
import $api from "@/api";
import tableColors from "@/assets/mycolors.scss";
export default {
  name: "AdminPanel",
  components: { Modal },
  data() {
    return {
      interviewersList: [],
      rightAnswers: [],
      selectedInterviewer: {},
    };
  },
  async mounted() {
    M.AutoInit(null);
    const response = await $api({
      url: "/interviewersList",
      method: "GET",
    });
    this.interviewersList = response.data.reverse();

    const response2 = await $api({
      url: "/rightAnswers",
      method: "GET",
    });
    this.rightAnswers = response2.data;
  },
  methods: {
    openModal(interviewer) {
      this.selectedInterviewer = interviewer;
    },
    formattedDate(userDate) {
      const date = new Date(userDate);
      return date.toLocaleDateString("ru");
    },
    SumInterviewersRightAnswers(userSumRightAnswers) {
      let sum = 0;
      const rightAnswers = this.rightAnswers;
      const userAnswers = userSumRightAnswers;
      if (
        !(
          rightAnswers.length &&
          userAnswers.length &&
          userAnswers.length === 12
        )
      )
        return 0;

      for (let i = 0; i < this.rightAnswers.length; i++) {
        if (rightAnswers[i].rightAnswer === userAnswers[i].selectedAnswer) {
          sum++;
        }
      }
      return sum;
    },
    getColor(rowIndex) {
      const classes = Object.keys(tableColors);
      return {
        coloredTable: true,
        [classes[rowIndex % classes.length]]: true,
      };
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@/assets/mycolors.scss";
@import "~materialize-css/sass/materialize.scss";

.coloredTable {
  @each $className, $color in $table-colors {
    &.#{$className} {
      background: $color;
    }
  }
}

.panel {
  height: 100%;
  width: 100%;
  padding: 5rem 5rem 5rem 5rem;
  box-shadow: 0 5px 30px 3px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
}
table {
  font-weight: bold;
  font-size: x-large;
}
@media #{$small-and-down} {
  table {
    font-size: small;
  }
  div.panel {
    padding: 0.7rem;
  }
}
@media #{$medium-only} {
  table {
    font-size: large;
  }
  div.panel {
    padding: 1.5rem;
  }
}
</style>
