<template>
  <div class="valign">
    <router-view></router-view>
  </div>
</template>

<style>
.valign {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
</style>
