<template>
  <div class="container">
    <div class="row center-child">
      <div class="col s12 m12 l11 center-elem">
        <div class="height">
          <router-view />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CardBox",
};
</script>

<style lang="scss" scoped>
@import "~materialize-css/sass/materialize.scss";
@import "~@/assets/mycolors.scss";

.center-child {
  display: flex;
  justify-content: center;
  margin-top: 6%;
}
.center-elem {
  margin: 0 auto;
}
.height {
  height: 100% !important;
}
@media #{$small-and-down} {
  div.container {
    width: 95%;
  }
}
</style>
