<template>
  <nav class="white z-depth-5">
    <div class="row">
      <div class="col s3 m6 l3 logo hide-on-small-and-down" @click="Home">
        <!--Логотип-->
        <img src="@/assets/logo.svg" height="70%" />
      </div>
      <div
        class="logo col s3 m6 l3 hide-on-med-and-up valign-wrapper"
        @click="Home"
      >
        <img src="@/assets/logo-mobile.svg" height="80%" width="100%" />
        <!--Лого для мобильных устройств-->
      </div>

      <div class="col s7 m4 l7 header">
        <!--Заголовок-->
        <h3 class="test black-text">Тест на логику</h3>
      </div>
      <router-link class="col s2 m2 l2 header" to="/admin">
        <!--Переход для админки-->
        <img src="@/assets/admin.svg" height="100%" width="100%" />
      </router-link>
    </div>
  </nav>
</template>

<script>
import router from "@/router";
export default {
  name: "Header",
  methods: {
    Home() {
      router.push({ path: "/" });
    },
  },
};
</script>

<style lang="scss">
@import "~materialize-css/sass/materialize.scss";
@import "~@/assets/mycolors.scss";

$height: 120px;
body {
  background: url("~@/assets/background.png"), rgba(255, 255, 255, 0.7);
  background-size: 50%;
  background-blend-mode: overlay;
}

nav {
  height: $height !important;
  display: block;
}

.logo {
  display: flex;
  align-items: center;
  height: 120px;
  margin-left: 3rem;
  cursor: pointer;
}
.test {
  font-weight: bold;
  font-size: 3rem;
  margin: auto;
}
.header {
  align-items: center;
  display: flex;
  height: 120px;
  justify-content: flex-end;
  img {
    padding: 15px 0px;
    min-width: 60px;
    cursor: pointer;
  }
  .test {
    @media #{$small-and-down} {
      font-size: 1.8rem;
    }
  }
}
</style>
