<template>
  <div id="wrapper">
    <div class="progress-bar">
      <div
        class="dot"
        v-for="step in stepsCount"
        :key="step"
        :class="{
          active: step === currentStep,
          completed: step < currentStep,
        }"
      ></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Stepper",
  props: {
    currentStep: {
      type: Number,
    },
    stepsCount: {
      type: Number,
      required: true,
    },
  },
  mounted() {},
};
</script>

<style lang="scss" scoped>
@import "~@/assets/mycolors.scss";
@import "~materialize-css/sass/materialize.scss";

$dotSize: 1.5625rem;
$lineSize: $dotSize / 10;
$activeDotSize: $dotSize * 2;

* {
  padding: 0;
  margin: 0;
}
#wrapper {
  padding: 0 8rem;
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  width: 100%;
  height: $lineSize;
  background: grey;
  display: flex;
  justify-content: space-between;
  .dot {
    border-radius: 50%;
    border: 3px solid $primary-color;
    height: $dotSize;
    width: $dotSize;
    background: white;
    transform: translateY(-(($dotSize - $lineSize) / 2));
    transition: 0.3s;
    &.active {
      height: $activeDotSize;
      width: $activeDotSize;
      transform: translateY(-(($activeDotSize - $lineSize) / 2));
    }
    &.completed {
      background: $primary-color;
    }
  }
}
@media #{$small-and-down} {
  $dotSize: 0.75rem;
  $lineSize: $dotSize / 10;
  $activeDotSize: $dotSize * 2;
  #wrapper {
    padding: 0 0.7rem;
    height: 5rem;
  }
  .progress-bar {
    height: $lineSize;
    .dot {
      height: $dotSize;
      width: $dotSize;
      transform: translateY(-(($dotSize - $lineSize) / 2));
      &.active {
        height: $activeDotSize;
        width: $activeDotSize;
        transform: translateY(-(($activeDotSize - $lineSize) / 2));
      }
    }
  }
}
</style>
