@import '~materialize-css/sass/materialize.scss';
@import 'style';

@media #{$small-and-down} {
  h5 {
    font-size: 1.2rem !important;
  }
}
@media #{$medium-and-up} {
}
@media #{$medium-and-down} {
  // styles for medium screens and down
}
@media #{$large-and-up} {
  // styles for large screens and up
}
@media #{$extra-large-and-up} {
  // styles for extra large screens and up
}
