@use '~materialize-css/sass/materialize' with (
  $primary-color: #1a60f7,
  $secondary-color: #1a60f7,
  $success-color: #00c853,
  $error-color: #ff1744,
  $link-color: white,
);

$table-colors: (
  indigo-l1: #c5cae9,
  indigo-l2: #cfd4ed,
  indigo-l3: #d4d8ee,
  indigo-l4: #dde0f2,
  indigo-l5: #e2e5f5,
  blue-l1: #bbd0fd,
  blue-l2: #c9d7fa,
  blue-l3: #d7e0f7,
  blue-l4: #dfe5f6,
  blue-l5: #e6e9f7,
  teal-l1: #b2dfdb,
  teal-l2: #c5e2e4,
  teal-l3: #d3e5eb,
  teal-l4: #dae7ef,
  teal-l5: #e1e8f2,
);

$greenbtn: #29b780;
$secondary-color-light: #484848;
$secondary-color-dark: #000000;

@forward "~materialize-css/sass/materialize";

:export {
  @each $className, $color in $table-colors {
    #{$className}: $color;
  }
}
