@import 'mycolors.scss';

body {
  background: url('background.png'), rgba(255, 255, 255, 0.7);
  background-size: 50%;
  background-blend-mode: overlay;
}
* {
  font-family: 'Poiret One';
  color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
nav {
  height: 120px;
  display: block;
}
input {
  font-size: 20px !important;
}

.logo {
  display: flex;
  align-items: center;
  height: 120px;
  margin-left: 3rem;
}
.test {
  font-weight: bold;
  font-size: 3rem;
  margin: auto;
}
.header {
  align-items: center;
  display: flex;
  height: 120px;
  justify-content: flex-end;
}
.card-back {
  /*  background-image: url('people.jpg');*/
  background-color: rgba(26, 96, 247, 0.83);
  background-size: 100%;
  /* background-blend-mode: soft-light;*/
  box-shadow: 0px 5px 30px 3px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
}
.button-start {
  font-family: 'Poiret One';
  background-color: $greenbtn;
  width: 15rem;
  box-shadow: 1px 1px 10px 5px #0cd478;
  border-radius: 1rem;
  border: 1px solid #4cbb7e;
  letter-spacing: 2.5px;
  transition: 0.12s;
  &:active {
    transform: scale(0.8);
  }
  &:hover {
    background-color: $greenbtn;
    box-shadow: none;
  }
  &:focus {
    background-color: $greenbtn;
  }
}

.center-child {
  display: flex;
  justify-content: center;
  margin-top: 6%;
}
.center-elem {
  margin: 0 auto;
}
.radio-btn {
}
.btn-answer {
  position: absolute;
  right: 0;
  bottom: 0.7rem;
  font-family: 'Poiret One';
  background-color: #213f7e !important;
  border-bottom-right-radius: 1rem;
  box-shadow: 0px 10px 0px 0px rgba(19, 36, 72, 1);
  &:hover {
    box-shadow: 0px 10px 0px 0px rgba(19, 36, 72, 1);
  }
  &:active {
    box-shadow: 0px 4px 0px 0px rgba(19, 36, 72, 1);
    transform: translateY(6px);
  }
}
.answer-choice {
  border-radius: 3px;
  margin: 4% 0px 3% 0px;
}
label {
  font-size: 2.5rem;
}
span {
  font-size: 1.5rem !important;
}
.question-number-label {
  background-color: black;
  border-radius: 50%;
  color: white;
  text-align: center;
  width: 10vw;
  height: 10vw;
  max-width: 50px;
  max-height: 50px;
  min-width: 20px;
  min-height: 20px;
  margin-top: 1.2rem;
  font-size: 2rem;
}
