<template>
  <div id="app">
    <Header />
    <CardBox />
  </div>
</template>

<script>
import Header from "@/components/Header";
import CardBox from "@/components/CardBox";
import $api from "@/api";
export default {
  name: "App",
  provide() {
    return {
      user: this.user,
    };
  },
  data() {
    return {
      user: {},
      answers: null,
    };
  },

  created() {
    this.$root.$on("updateUser", (user) => {
      Object.assign(this.user, user);
    });
    this.$root.$on("updateAnswers", (answers) => {
      this.answers = answers;
    });
    this.$root.$on("SaveUser", () => {
      $api({
        url: "/final",
        method: "POST",
        data: {
          user: this.user,
          answers: this.answers,
        },
      });
    });
  },
  components: {
    CardBox,
    Header,
  },
};
</script>

<style>
#app {
  font-family: Poiret One;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  color: white;
}
input {
  color: white;
}
</style>
